<h1>O desafio</h1>
<hr>
<p>Você deverá criar um simples sistema que atenda à todos os requisitos de negócio e técnicos e nos enviar no prazo estipulado.</p>

<h1>Persona</h1>
<hr>
<p>Xayah é uma pequena jovem empresária que presta serviços de coaching para grupos de jogadores profissionais de eSports. Ela utiliza Excel para controlar as finanças da empresa.</p>

<h1>Problema</h1>
<hr>
<p>Xayah precisa concilicar o extrato bancário da empresa com as entradas e saídas que ela registrou no Excel do último mês. Para isso é utilizado um arquivo do tipo OFX, que contém o registro do banco de todas as entradas e saídas de um período e é fácil
    de exportar pelo Bankline.</p>

<p>O problema é que Xayah baixou dois arquivos OFX: um que contém transações do dia 01 ao dia 20 e outro que contém transações do dia 15 ao 31. E agora ela não sabe o que fazer para garantir que todas as transações sejam conciliadas corretamente, uma vez
    que os arquivos OFX possuem transações de um período em comum.</p>

<h1>O que você deverá fazer</h1>
<hr>
<p>Criar um sistema onde a Xayah possa importar dois ou mais arquivos OFX e, no final, poderá ver todas as transações bancárias que ocorreram no período.</p>

<p>Lembre-se que os arquivos OFX poderão conter transações de um mesmo período. Essas transações devem ser exibidas sem duplicidade. Também lembre-se de que é possível que existam transações do mesmo valor em um mesmo dia.</p>
